body {
  background-color: black;
}

#sidebar {
  color: white;
  background-color: rgb(66, 73, 73);
}

#steps {
  background-color: $midnight-blue;
  color: white;
  @include box-shadow(0 0 8px 1px rgba(0,0,0,0.3));

  .content {
    visibility: hidden;
  }  

  svg {
    .progress-base {
      fill: rgba(255,255,255,0.2);
    }
    .step-progress {
      fill: rgba(255,255,255,0.4);
    }
    .sequence-progress {
      fill: rgba(255,255,255,0.2);
    }
  }

  &.running {
    .content {
      visibility: visible;
    }
  }

  &.step-activity {
    background-color: $wet-asphalt;
  }

  &.step-rest {
    background-color: $nephritis;
  }

  &.step-done {
    background-color: $emerland;
  }

  &.paused {
    background-color: $concrete;
  }

}
