
#steps {
  background-color: $midnight-blue;
  color: white;
  @include transition(background-color, 0.5s, linear);

  #time-left {
    visibility: hidden;
  }  
  .button-play {
    display: inline-block;
  }

  .button-pause, .button-restart {
    display: none;
    margin: 0 12px;
  }

  svg {
    display: none;
    .progress-base {
      fill: rgba(255,255,255,0.2);
    }
    .step-progress {
      fill: rgba(255,255,255,0.4);
    }
    .sequence-progress {
      fill: rgba(255,255,255,0.2);
    }
  }

  &.running {
    .button-play, .button-restart {
      display: none;
    }
    .button-pause {
      display: inline-block;
    }
    #time-left {
      visibility: visible;
    } 
    svg {
      display: block;
    }
  }

  &.step-activity {
    background-color: $wet-asphalt;
  }

  &.step-rest {
    background-color: $nephritis;
  }

  &.step-done {
    background-color: $midnight-blue;
    .button-pause, .button-play {
      display: none;
    }
    .button-restart {
      display: inline-block;
    }
  }

  &.paused {
    background-color: $concrete;
    .button-pause {
      display: none;
    }
    .button-play, .button-restart {
      display: inline-block;
    }
    .button-restart {
      position: absolute;
      right: 0;
    }
  }

}


#progress {
  background-color: rgba(255, 255, 255, 0.1);
}