body {
  background-color: black;
}

#sidebar {
  color: white;
  background-color: rgb(66, 73, 73);
}

#steps {
  background-color: $midnight-blue;
  color: white;

  #time-left {
    visibility: hidden;
  }  

  svg {
    display: none;
    .progress-base {
      fill: rgba(255,255,255,0.2);
    }
    .step-progress {
      fill: rgba(255,255,255,0.4);
    }
    .sequence-progress {
      fill: rgba(255,255,255,0.2);
    }
  }

  &.running {
    #time-left {
      visibility: visible;
    } 
    svg {
      display: block;
    }
  }

  &.step-activity {
    background-color: $wet-asphalt;
  }

  &.step-rest {
    background-color: $nephritis;
  }

  &.step-done {
    background-color: $emerland;
  }

  &.paused {
    background-color: $concrete;
  }

}
